html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
    background-color: #363764;
}

p {
    color: white;
}

blockquote {
    color: black;
    font-size: 1.3em;
    font-family: serif;
    background-color: white;
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 8px;
    border-radius: 10px;
    text-align: justify;
}

@media (max-width: 768px) {
    blockquote {
        max-width: 100%;
    }
}

a {
    color: lightblue;
}

a:visited {
    color: orange;
}

body {
    margin-bottom: 60px;
    perspective-origin: 50% 8%;
    perspective: 600px;
}

@font-face {
    font-family: 'BTTFLogo';
    src: url('../fonts/BTTF.ttf') format('truetype');
}

.description {
    font-family: Helvetica, Arial, sans-serif;
}

.logo_container {
    transform: rotate3d(0, 1, 0, 28deg) scaleX(1.1) translateX(25px);
    padding-top: 10px;
    padding-bottom: 10px;
}

.centered_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
}

.centered_div {
    display: flex;
    justify-content: center;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.logo {
    color: red;
    font-family: 'BTTFLogo';
    letter-spacing: -0.08em;
    -webkit-text-stroke: 2px #5cade3;
    text-stroke: 2px lightblue;
}

.logo_top {
    font-size: 5em;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(red 20%, yellow 80%);
    color: transparent;
    background-clip: text;

}

.logo_small {
    font-size: 1.55em;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(yellow, red 60%);
    color: transparent;
    background-clip: text;
}

.logo_medium {
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0;
    background-image: linear-gradient(yellow, red 70%);
    color: transparent;
    background-clip: text;
}